.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
terraform.tfvars
*.tfplan
.venv/
__pycache__/
*.py[cod]
node_modules/
node_modules
*.node_modules
package-lock.json
dist/
*.dist/
.terraform
.python-version
*.tf
helm
modules
.gitignore
*.hcl
*.tfstate
*.backup
*.kubeconfig-temp-access-7d-1.yaml
kubeconfig-temp-access-7d-1.yaml
AGENTS.md
.DS_Store
artifacts/
*.egg-info/
